*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --darkGreen: rgb(46, 96, 147);
    --brightGreen: #2a9d8f;
    --yellow: #e9c46a;
    --lightOrange: #f4a261;
    --darkOrange: #e76f51;

}

body{
    height: 100vh;
    width: 100vw;
    background-color: grey;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(46, 96, 147);
}

.headContainer{
    width: 100vw;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroText{
    font-size: 40px;
    color: white;
}

.addBook{
    background: linear-gradient(to right top , rgb(47, 93, 145), rgb(48, 84, 142));
    color: white;
    cursor: pointer;
}   

.addBook:hover{
    background: rgba(white, 0.1);
}

.container{
    height: 80vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-items: center;
    gap: 5px;
}

.container .show{
    align-self: center;
    justify-self: center;
}

.container .hideDescription{
    display: none;
}

.heroText{
    margin-bottom: 10px;
}

.addBook{
    font-size: 30px;
    padding: 10px 20px;
}

form{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    border: 1px solid black;
    padding: 20px;
    background-color: black;
    color: white;
    align-self: center;
    justify-self: center;
    width: 300px;
    height: 300px;
    z-index: 9;
    position: absolute;
    top: 25%;
    
}

label{
    display: block;
}

.hideForm{
    display: none;
}


.card{
    width: 300px;
    height: 300px;
    border: 1px solid white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
    overflow: scroll;
    background-color: var(--darkGreen);
    color: white;
    border-radius: 20px;
    border: 5px solid var(--brightGreen);
}

.bookTitle{
    font-weight: 800;
}

.card hr{
    width: 80%;
    margin: 0 auto;
}

.readContainer{
    display: flex;
    justify-content: center;
}

.read{
    position: relative;
    left: 10px;
    transform: scale(1.2);
}

.remove{
    width: 80%;
    align-self: center;
    padding: 5px 0px;
    border-radius: 10px;
    border: 1px solid white;
    font-size: 16px;
    background-color: var(--darkGreen);
    color: white;
    cursor: pointer;
}

.remove:hover{
    background-color: rgba(white, 0.1);
}