*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:root {
  --darkGreen: rgb(46, 96, 147);
  --brightGreen: #2a9d8f;
  --yellow: #e9c46a;
  --lightOrange: #f4a261;
  --darkOrange: #e76f51;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
  background-color: #2e6093;
}

.headContainer {
  width: 100vw;
  height: 20vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.heroText {
  font-size: 40px;
  color: white;
}

.addBook {
  background: -webkit-gradient(linear, left bottom, right top, from(#2f5d91), to(#30548e));
  background: linear-gradient(to right top, #2f5d91, #30548e);
  color: white;
  cursor: pointer;
}

.addBook:hover {
  background: rgba(255, 255, 255, 0.1);
}

.container {
  height: 80vh;
  width: 100vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(250px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
  gap: 5px;
}

.container .show {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.container .hideDescription {
  display: none;
}

.heroText {
  margin-bottom: 10px;
}

.addBook {
  font-size: 30px;
  padding: 10px 20px;
}

form {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  gap: 10px;
  border: 1px solid black;
  padding: 20px;
  background-color: black;
  color: white;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  width: 300px;
  height: 300px;
  z-index: 9;
  position: absolute;
  top: 25%;
}

label {
  display: block;
}

.hideForm {
  display: none;
}

.card {
  width: 300px;
  height: 300px;
  border: 1px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  text-align: center;
  overflow: scroll;
  background-color: var(--darkGreen);
  color: white;
  border-radius: 20px;
  border: 5px solid var(--brightGreen);
}

.hideCard {
  display: none;
}

.bookTitle {
  font-weight: 800;
}

.card hr {
  width: 80%;
  margin: 0 auto;
}

.readContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.read {
  position: relative;
  left: 10px;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.remove {
  width: 80%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding: 5px 0px;
  border-radius: 10px;
  border: 1px solid white;
  font-size: 16px;
  background-color: var(--darkGreen);
  color: white;
  cursor: pointer;
}

.remove:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
/*# sourceMappingURL=styles.css.map */